html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	background-color:  #37241A;
	margin: 0;
	padding: 0;
}
header {
	background-color: #575837;
	border-bottom: 5px solid #37241A;
	padding: 1em;
}
h1, h3, h4 {
	font-family: 'Roboto', sans-serif;
	/*color: #F58022;*/
	color: #B41300; /* more contrast */
	text-transform: uppercase;
	margin: 0 0 0.5em 0;
}
h2 {
	font-family: 'Robot', sans-serif;
	color: #DC4626;
	text-transform: uppercase;
	margin: 0;
}
nav {
	background-color: #DC4626;
	padding: 1em;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	float:  none;
	display: inline-block;
	margin-right: 1em;
}
nav a {
	color: #E6DFB5;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5em 0.75em;
}
nav a:hover {
	color: #37241A;
}
.scrolled {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.social {
	float: right;
}
.fa-bandcamp::before {
	content:"▱";
}
.nav-wrap {
	height: 50px;
}
#active {
	text-decoration: underline;
}
aside {
	float: right;
	background-color: #E6DFB5;
	color: #222;
	border-radius: 5px;
	width: 30%;
	margin:  2% 2% 2% 0;
	padding: 1em;
}
aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
aside li {
	float: none;
	margin-bottom: 2%;
}
main {
	float: left;
	background-color:  #E6DFB5;
	color: #222;
	border-radius: 5px;
	width: 65%;
	margin: 2% 0 5% 2%;
	padding: 1em;
}
main a {
	color: #DC4626;
	text-decoration: none;
}
main a:hover {
	color: #37241A;
}
main hr {
	display: block;
	margin: auto;
	margin-bottom: 1em;
	height: 1px;
	width: 75%;
	border 0;
	border-top: 1px solid #37241A;
}
.artwork {
	max-width: 30%;
}
#band {
	display: block;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	max-width: 90%;
}
#players {
	display:block;
	margin-left:2%;
	margin-right:2%;	
}
#shows ul {
	list-style-type: none;
	margin-left: 2%;
	padding: 0;	
}
#shows li {
	float: none;
}
.dates {
	border-left: 1px solid #37241A;
}
.dates li {
	padding-left: 1em;
}
figcaption {
	text-align: center;
}
table {
	margin: auto;
	text-align: center;
}
table tr td {
	padding: 0.5em;
}
table thead {
	text-decoration: underline;
	font-size: 1.5em;
}
footer {
	position:fixed;
	bottom:0;
	right:0;
	width: 100%;
	color: #37241A;
	padding: 1em;
	margin-top: 1em;
	text-align: center;
	background: rgba(245,129,34,1);
	background: -moz-linear-gradient(left, rgba(245,129,34,1) 0%, rgba(250,176,47,1) 50%, rgba(245,129,34,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,129,34,1)), color-stop(50%, rgba(250,176,47,1)), color-stop(100%, rgba(245,129,34,1)));
	background: -webkit-linear-gradient(left, rgba(245,129,34,1) 0%, rgba(250,176,47,1) 50%, rgba(245,129,34,1) 100%);
	background: -o-linear-gradient(left, rgba(245,129,34,1) 0%, rgba(250,176,47,1) 50%, rgba(245,129,34,1) 100%);
	background: -ms-linear-gradient(left, rgba(245,129,34,1) 0%, rgba(250,176,47,1) 50%, rgba(245,129,34,1) 100%);
	background: linear-gradient(to right, rgba(245,129,34,1) 0%, rgba(250,176,47,1) 50%, rgba(245,129,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58122', endColorstr='#f58122', GradientType=1 );	
	clear: both;
}
footer a {
	color: #37241A;
	text-decoration: underline;
}
footer a:hover {
	color: #E6DFB5;
}
footer p {
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}











